header{
    height: 320px;
    width: 100%;
    background-image: url('https://www.itconsultors.com/images/blog/web-dev.jpg');
    text-align: center;
    background-repeat: no-repeat;
}
h1,span{
    align-items: center;
    color: cornsilk;
    position: relative;
    top:15%;
}