<app-header [titleWeb]="titleWeb" [subTitle]="subTitle"></app-header>
<app-home></app-home>
<br>
<p *ngIf="name" class="mt-5">El nombre es: {{name}}</p>
<input type="text" [(ngModel)]="name" name="" id="">

<div class="mt-5" (click)="onCityClicked(city)" [ngClass]="{'selected':city === selection}" *ngFor="let city of cities">
  <ul>
    <li>{{city}}</li>

  </ul>

</div>

<div *ngIf="selection">
  <p >Your city is: {{selection}}</p>
  <button class="btn btn-outline-secondary" (click)="onClear()">Clear your selection</button>
</div>